body,
html {
	text-align: center;
	background-color: #222;
	height: 100vh;
	width: 100vw;
	font-family: 'Roboto';
}
a {
	color: white;
	text-decoration: none;
}
/* Nav Bar Styling */
.nav-wrapper {
	background-color:  rgb(65, 65, 90);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header h2 {
	margin: 20px;
	padding: 0;
}
.menu-button {
	display: flex;
	flex-direction: column;
	width: 30px;
	margin: 20px;
	opacity: 1;
}
.line-wrap {
	display: flex;
}
.line {
	background-color: white;
	width: 16px;
	height: 5px;
	margin-bottom: 4px;
	transition: transform 0.3s;
}
.top-left-open {
	transform: rotate(45deg) translateX(5px) scaleX(1);
}
.top-right-open {
	transform: rotate(-45deg) translateX(-5px) scaleX(1);
}
.middle-left-open {
	transform: scaleY(0) translateX(-20px);
}
.middle-right-open {
	transform: scaleY(0) translateX(20px);
}
.bottom-left-open {
	transform: rotate(-45deg) translateX(5px) scaleX(1);
}
.bottom-right-open {
	transform: rotate(45deg) translateX(-5px) scaleX(1);
}
.menu {
	position: absolute;
	background-color: rgb(75, 75, 100);
	right: 1em;
	top: 3.7em;
	z-index: 1000;
	border-radius: 5px;
	box-shadow: 3px 3px #111;
	transition: transform 0.2s;
	transform-origin: top center;
}
.show-menu {
	transform: scaleY(1);
}
.hide-menu {
	transform: scaleY(0);
	transition-delay: 0.8s;
}
.link-list {
	margin: 5px;
	padding: 5px;
	text-align: right;
	list-style: none;
	font-size: 1.4em;
}
p {
	margin: 10px;
}
.show-link {
	transform: scaleX(1);
	transform-origin: right center;
	transition: transform 0.2s;
}
.hidden-link {
	transform: scaleX(0);
	transform-origin: right center;
	transition: transform 0.2s;
}
.link-one {
	transition-delay: 0.3s;
}
.hidden-link-one {
	transition-delay: 0.7s;
}
.link-two {
	transition-delay: 0.4s;
}
.hidden-link-two {
	transition-delay: 0.6s;
}
.link-three {
	transition-delay: 0.5s;
}
.hidden-link-three {
	transition-delay: 0.5s;
}
.link-four {
	transition-delay: 0.6s;
}
.hidden-link-four {
	transition-delay: 0.4s;
}
.link-five {
	transition-delay: 0.7s;
}
.hidden-link-five {
	transition-delay: 0.3s;
}
.link-six {
	transition-delay: 0.8s;
}
.hidden-link-six {
	transition-delay: 0.2s;
}
.link-seven {
	transition-delay: 0.9s;
}
.hidden-link-seven {
	transition-delay: 0.1s;
}
.link-eight {
	transition-delay: 1s;
}
/* Dashboard */
.dashboard-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.dashboard {
	background-color: lavender;
	margin: 15px;
	padding: 15px;
	border-radius: 10px;
	box-shadow: 1px 1px 5px plum, -1px -1px 5px plum, 1px -1px 5px plum, -1px 1px 5px plum;
}
h1 {
	margin: 0;
}
.dashboard-commands {
	display: flex;
	justify-content: center;
}
.dashboard-seeker {
	margin: 5px;
	padding: 15px;
	background-color: lightblue;
	border-radius: 10px;
	font-family: 'roboto';
	font-weight: bold;
}
.dashboard-seeker:hover {
	background-color: lightcyan;
}
.dashboard-project {
	margin: 5px;
	padding: 15px;
	background-color: lightblue;
	border-radius: 10px;
	font-family: 'roboto';
	font-weight: bold;
}
.dashboard-project:hover {
	background-color: lightcyan;
}
/* LFW */
.lfw-board {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}
/* Seeker Card */
.seeker-card-wrapper {
	width: 80%;
	background-color: lavender;
	border-radius: 10px;
	box-shadow: 1px 1px 5px plum, 1px -1px 5px plum, -1px 1px 5px plum, -1px -1px 5px plum;
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.seeker-card-wrapper p{
	color: black;
	margin: 0;
}
.seeker-info {
	display: flex;
	justify-content: space-between;
}
.item {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.label {
	font-weight: bold;
}
.value {
	background-color: plum;
	padding: 5px;
	border-radius: 3px;
}
.work-info {
	display: flex;
	flex-direction: column;
}
.days {
	display: flex;
	justify-content: space-evenly;
	padding: 5px;
}
.green {
	background-color: lightgreen;
	padding: 5px;
	border-radius: 10px;
	opacity: 1;
	transition: opacity 0.3s, background-color 0.3s;
}
.gray {
	background-color: #aaa;
	padding: 5px;
	border-radius: 10px;
	opacity: 0.5;
	transition: opacity 0.3s, background-color 0.3s;
}
.detail-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.edit {
	padding: 5px;
	border-radius: 3px;
}
.value-edit {
	background-color: white;
	border-radius: 3px;
	border: 2px solid;
}
.button-container {
	display: flex;
	flex-direction: column;
}
.edit-button:hover {
	animation: edit-hover 1s linear infinite;
}
.submit-button {
	background-color: lightgreen;
	margin: 5px;
}
.submit-button:hover{
	animation: submit-hover 1s linear infinite;
}
.cancel-button {
	background-color: lightblue;
	margin: 5px;
}
.cancel-button:hover {
	animation: cancel-hover 1s linear infinite;
}
.danger-button {
	margin-top: 10px;
}
.delete-button {
	background-color: rgb(255, 0, 0);
}
.delete-button:hover {
	animation: delete-hover 1.0s linear infinite;
}
.success {
	background-color: lightgreen;
	padding: 5px;
	border-radius: 3px;
}
@keyframes edit-hover {
	0% {
		background-color: white;
	}
	50%{
		background-color: #999;
	}
}
@keyframes submit-hover {
	0%{
		background-color: lightgreen;
	}
	50%{
		background-color: lawngreen;
	}
}
@keyframes cancel-hover {
	0% {
		background-color: lightblue;
	}
	50% {
		background-color: lightskyblue;
	}
}
@keyframes delete-hover {
	0% {
		background-color: red;
	}
	50% {
		background-color: lightpink;
	}
}